RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=aisoc_alerts



# Для использования локальных моделей через ollama оставить строки закомментированными, для облачного провайдера раскомментировать
# LLM_BASE_URL=
# LLM_API_KEY=
OLLAMA_HOST=localhost
SMALL_LLM_MODEL=gemma2:2b
LARGE_LLM_MODEL=gemma2:2b

IS_PERSISTENT=true

WAZUH_API_INDEXER_URL=https://localhost:9200
WAZUH_API_INDEXER_USER=admin
WAZUH_API_INDEXER_PASS=changeme
WAZUH_API_INDEXER_ALERT=wazuh-alerts-4.x-

WAZUH_API_URL=https://localhost:55000
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASS=changeme

CONNECTOR_HOST=localhost
CONNECTOR_PORT=8000
USE_RABBITMQ=true

AGENT_HOST=localhost
AGENT_PORT=8001
VERBOSE=true


CHROMA_HOST=localhost
CHROMA_PORT=8002
CHROMA_COLLECTION=aisoc_playbooks
