# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_QUEUE=aisoc_alerts

# Для использования локальных моделей через ollama оставить строки закомментированными, для облачного провайдера раскомментировать
# LLM_BASE_URL=
# LLM_API_KEY=
OLLAMA_HOST=0.0.0.0
SMALL_LLM_MODEL=gemma2:2b
LARGE_LLM_MODEL=gemma2:2b
EMBEDDING_MODEL=nomic-embed-text

IS_PERSISTENT=true

WAZUH_API_INDEXER_URL=https://localhost:9200
WAZUH_API_INDEXER_USER=admin
WAZUH_API_INDEXER_PASS=changeme
WAZUH_API_INDEXER_ALERT=wazuh-alerts-4.x-

WAZUH_API_URL=https://localhost:55000
WAZUH_API_USER=wazuh-wui
WAZUH_API_PASS=changeme

# Connector
CONNECTOR_HOST=0.0.0.0
CONNECTOR_PORT=8000
USE_RABBITMQ=true

# Agent
AGENT_HOST=0.0.0.0
AGENT_PORT=8001
VERBOSE=true

# Chroma
CHROMA_PERSIST_DIR=./chroma_data
CHROMA_COLLECTION=aisoc_playbooks


